.App {
  text-align: center;
}

table {
  table-layout: fixed;
  width: 100%;

  border: 1px solid lightgrey;
  border-collapse: collapse;
  margin: 1rem;
}

th {
  background: lightgrey; 
}

td.present {
  background: lightgreen
}

td.absent {
  background: lightyellow
}

td.unknown {
  background: lightpink
}

th, td {
  border: 1px solid lightgrey;
  padding: 2px;
}
